<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> ObligatorioProgram3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ObligatorioProgram3.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


</head>

<body>
    @using System.Security.Claims
    @using System.Linq;
    @{
        var claimsIdentity = User.Identity as ClaimsIdentity;
        var permisosClaim = claimsIdentity?.FindFirst("Permisos");
        ViewBag.Permisos = permisosClaim?.Value?.Split(',');
    }
    <header>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">El tobi gatienso</div>
                <div class="list-group list-group-flush">

                    <!-- Opción con despliegue -->
                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action btn-outline-dark bg-light text-center">
                        <i class="fas fa-database mr-2 fa-2x text-black"></i>
                    </a>
                    <ul class="collapse list-unstyled submenu-style" id="submenu1">
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver roles"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Roles")'>Roles</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver permisos"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Permisos")'>Permisos</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver restaurantes"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Restaurantes")'>Restaurantes</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver mesas"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Mesas")'>Mesas</a>
                            </li>
                        }
                    </ul>

                    <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action btn-outline-dark bg-light text-center">
                        <i class="fas fa-users mr-2 fa-2x text-black"></i>
                    </a>
                    <ul class="collapse list-unstyled submenu-style" id="submenu2">
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver usuarios"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Usuarios")'>Usuarios</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver clientes"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Clientes")'>Clientes</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver reservas"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Reservas")'>Reservas</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver ordenes"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Ordenes")'>Ordenes</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver ordenDetalle"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "OrdenDetalles")'>Orden Detalle</a>
                            </li>
                        }
                    </ul>

                    @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver reservas"))
                    {
                        <a style="color:black" href='@Url.Action("Index", "Reservas")' class="list-group-item list-group-item-action btn-outline-dark bg-light text-center">
                            <i class="far fa-calendar-alt mr-2 fa-2x text-black"></i>
                        </a>
                    }



                    <!-- Opción final -->
                    <a style="color:black" href='@Url.Action("CerrarSesion", "Home")' class="list-group-item list-group-item-action btn-outline-dark bg-light text-center">
                        <i class="fas fa-sign-out-alt mr-2 fa-2x text-black"></i> Cerrar Sesión
                    </a>
                </div>
            </div>

            <!-- Contenido principal -->
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </header>
    <style>
        .submenu-style {
            padding-left: 0; /* Ajusta el padding izquierdo para alinear con la barra lateral */
        }

            .submenu-style li {
                list-style: none; /* Elimina los puntos de la lista */
            }

            .submenu-style a {
                display: block;
                padding: 10px 15px; /* Ajusta el padding de los elementos del submenu */
                color: black;
                text-decoration: none;
                text-align: center;
            }
    </style>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ObligatorioProgram3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <div class="d-flex" id="wrapper">
        @RenderBody()
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>