<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> ObligatorioProgram3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ObligatorioProgram3.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css" rel="stylesheet">



</head>

<body>
    @using System.Security.Claims
    @using System.Linq;
    @{
        var claimsIdentity = User.Identity as ClaimsIdentity;
        var permisosClaim = claimsIdentity?.FindFirst("Permisos");
        ViewBag.Permisos = permisosClaim?.Value?.Split(',');
    }
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <img style="width:200px" src="/imagenes/logoSolIzq.png" alt="Logo del Restaurante" class="logo" />

            </div>
            <div class="list-group list-group-flush">

                <!---------------------------------------------------------- SUBMENU DATOS------------------------------------------------------------------->
                @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver roles") || ((string[])ViewBag.Permisos).Contains("ver permisos") || ((string[])ViewBag.Permisos).Contains("ver restaurantes")
                || ((string[])ViewBag.Permisos).Contains("ver mesas") || ((string[])ViewBag.Permisos).Contains("ver ordenes") || ((string[])ViewBag.Permisos).Contains("ver menus"))
                {
                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action btn-outline-dark text-center">
                        <i class="bi bi-gear text-black" style="font-size:2rem"></i>
                    </a>
                    <ul class="collapse list-unstyled submenu-style" id="submenu1">
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver roles"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Roles")'>Roles</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver permisos"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Permisos")'>Permisos</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver restaurantes"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Restaurantes")'>Restaurantes</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver mesas"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Mesas")'>Mesas</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver ordenes"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Ordenes")'>Ordenes</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver menus"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Menus")'>Menu</a>
                            </li>
                        }
                      

                    </ul>
                }

                <!---------------------------------------------------------- SUBMENU PERSONAS------------------------------------------------------------------->
                @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver usuarios") || ((string[])ViewBag.Permisos).Contains("ver clientes"))
                {
                    <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action btn-outline-dark text-center">
                        <i class="bi bi-people text-black" style="font-size:2rem;"></i>
                    </a>
                    <ul class="collapse list-unstyled submenu-style" id="submenu2">
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver usuarios"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Usuarios")'>Usuarios</a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver clientes"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Clientes")'>Clientes</a>
                            </li>
                        }
                    </ul>
                }
           
                <!---------------------------------------------------------- SUBMENU RESERVAS------------------------------------------------------------------->
                @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver reservas"))
                {
                    <a href="#submenu3" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action btn-outline-dark text-center">
                        <i class="bi bi-calendar3 text-black" style="font-size:2rem;"></i>
                    </a>
                    <ul class="collapse list-unstyled submenu-style" id="submenu3">
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver reservas"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Index", "Reservas")'>Reservas </a>
                            </li>
                        }
                    </ul>
                }
                <!---------------------------------------------------------- SUBMENU REPORTES------------------------------------------------------------------->
                @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver reportes"))
                {

                    <a href="#submenu4" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action btn-outline-dark text-center">
                        <i class="bi bi-clipboard2-data text-black" style="font-size:2rem;"></i>
                    </a>
                    <ul class="collapse list-unstyled submenu-style" id="submenu4">
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver reportes"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Reportes", "Ordenes")'>Historico ordenes </a>
                            </li>
                        }
                        @if (ViewBag.Permisos != null && ((string[])ViewBag.Permisos).Contains("ver reportes"))
                        {
                            <li>
                                <a style="color:black" href='@Url.Action("Reportes", "Pagos")'>Pagos</a>
                            </li>
                        }
                    </ul>
                    
                }
                <a style="color:black" href='@Url.Action("CerrarSesion", "Home")' class="list-group-item list-group-item-action btn-outline-dark text-center">
                    <i class="bi bi-box-arrow-right text-black" style="font-size:2rem;"></i>
                </a>
            </div>
        </div>

        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <style>

        #sidebar-wrapper {
            background-color: #e6e6e6;
        }

        .submenu-style {
            padding-left: 0; /* Ajusta el padding izquierdo para alinear con la barra lateral */
        }

            .submenu-style li {
                list-style: none; /* Elimina los puntos de la lista */
            }

            .submenu-style a {
                display: block;
                padding: 10px 15px; /* Ajusta el padding de los elementos del submenu */
                color: black;
                text-decoration: none;
                text-align: center;
            }

        li {
            transition: background-color 0.3s ease, color 0.3s ease;
        }

            li:hover {
                background-color: rgba(242, 206, 84);
            }

        .list-group {
            background-color: #e6e6e6;
        }

        .list-group-item {
            background-color: #e6e6e6;
        }

            .list-group-item:hover {
                background-color: rgba(242, 206, 84);
            }
    </style>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ObligatorioProgram3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <div class="d-flex" id="wrapper">
        @RenderBody()
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>