@model IEnumerable<ObligatorioProgram3.Models.Reserva>
@{
    ViewData["Title"] = "Index";
}

<div id="reservas-page">
    <h2>Reservas</h2>

    <div class="form-group">
        <label class="control-label">Restaurante:</label>
        <select id="restauranteSelect" class="form-control form-control-sm d-inline-block" style="width: auto;">
            <option value="">Seleccione un restaurante</option>
            @if (ViewBag.Restaurantes != null)
            {
                foreach (var restaurante in ViewBag.Restaurantes)
                {
                    <option value="@restaurante.Id">@restaurante.Nombre</option>
                }
            }
            else
            {
                <option value="">No hay restaurantes disponibles</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label class="control-label">Fecha de Reserva</label>
        <input type="date" id="fechaReservaSelect" class="form-control form-control-sm d-inline-block" style="width: auto;" value="@ViewBag.FechaReserva" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary " id="limpiarFechaReserva">Limpiar Fecha</button>
        </div>
    </div>

    <div class="btn-group mb-3">
        <button type="button" class="btn btn-outline-secondary filter-btn" data-filter="hoy">Hoy</button>
        <button type="button" class="btn btn-outline-info filter-btn" data-filter="pasadas">Pasadas</button>
        <button type="button" class="btn btn-outline-danger filter-btn" data-filter="proximos7dias">Próximos 7 Días</button>
    </div>

    <div class="container-fluid">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mesa</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Restaurante</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody id="reservasTableBody">
                @* ACA se renderiza la nueva View _ReservasTable tomando en cuenta el restaurante elegido en el DropDownList *@
                @foreach (var reserva in Model)
                {
                    <tr>
                        <td>@reserva.IdmesaNavigation.NumeroMesa</td>
                        <td>@reserva.IdclienteNavigation.Nombre @reserva.IdclienteNavigation.Apellido</td>
                        <td>@reserva.FechaReserva</td>
                        <td>@reserva.Estado</td>
                        <td>@reserva.IdmesaNavigation.IdrestauranteNavigation.Nombre</td>

                        <td>
                            <button type="button" class="btn confirmar-reserva @((reserva.Estado == "Confirmada") ? "btn-default" : "btn-active")" data-id="@reserva.Id" @((reserva.Estado == "Confirmada") ? "disabled" : "")>
                                Confirmar Reserva
                            </button>
                            <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@reserva.Id">Editar</a> |
                            <a asp-action="Details" class="btn btn-light" asp-route-id="@reserva.Id">Detalle</a> |
                            <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@reserva.Id">Eliminar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <button type="button" class="btn btn-dark" id="abrirModalReserva">
            + nueva reserva
        </button>
    </div>

    <div class="modal fade" id="crearModalReserva" tabindex="-1" role="dialog" aria-labelledby="crearReservaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="createReservaModalContent">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            // Maneja el clic en el botón para abrir el modal de creación de reservas
            $('#abrirModalReserva').click(function () {
                var restauranteId = $('#restauranteSelect').val();
                var fechaReserva = $('#fechaReservaSelect').val();
                var today = new Date().toISOString().split('T')[0]; // Obtener la fecha de hoy en formato yyyy-MM-dd

                if (!restauranteId || !fechaReserva) {
                    alert("Por favor, seleccione un restaurante y una fecha antes de crear una reserva.");
                    return;
                }
                if (fechaReserva < today) {
                    alert("La fecha de la reserva no puede ser menor a hoy.");
                    return;
                }

                $.ajax({
                    url: '@Url.Action("CreatePartial", "Reservas")',
                    type: 'GET',
                    data: { idRestaurante: restauranteId, fechaReserva: fechaReserva },
                    success: function (data) {
                        $('#createReservaModalContent').html(data);
                        $('#crearModalReserva').modal('show');
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            // Maneja el envío del formulario de CREACION de reservas mediante AJAX
            $('#createReservaModalContent').on('submit', '#createReservaForm', function (e) {
                e.preventDefault(); // Evitar el envío normal del formulario

                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function (data) {
                        if ($(data).find('.text-danger').length > 0) {
                            // Si hay mensajes de error, actualizar el contenido del modal con los nuevos datos
                            $('#createReservaModalContent').html(data);
                        } else {
                            $('#crearModalReserva').modal('hide'); // Cerrar el modal
                            location.reload(); // Recargar la página para actualizar la lista de reservas
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            // Maneja el envío del formulario de EDICION de reservas mediante AJAX
            $('#createReservaModalContent').on('submit', '#editReservaForm', function (e) {
                e.preventDefault(); // Evitar el envío normal del formulario

                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function (data) {
                        if ($(data).find('.text-danger').length > 0) {
                            // Si hay mensajes de error, actualizar el contenido del modal con los nuevos datos
                            $('#createReservaModalContent').html(data);
                        } else {
                            $('#crearModalReserva').modal('hide'); // Cerrar el modal
                            location.reload(); // Recargar la página para actualizar la lista de reservas
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            // Maneja el clic en los botones de filtro
            $('.filter-btn').click(function () {
                var filter = $(this).data('filter');
                var restauranteId = $('#restauranteSelect').val();

                $.ajax({
                    url: '@Url.Action("Index", "Reservas")',
                    type: 'GET',
                    data: { filter: filter, idRestaurante: restauranteId },
                    success: function (data) {
                        $('#reservasTableBody').html($(data).find('#reservasTableBody').html());
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            // Maneja el cambio en la selección de restaurante
            $('#restauranteSelect').change(function () {
                var restauranteId = $(this).val();
                var fechaReserva = $('#fechaReservaSelect').val();

                $.ajax({
                    url: '@Url.Action("Index", "Reservas")',
                    type: 'GET',
                    data: { idRestaurante: restauranteId, fechaReserva: fechaReserva },
                    success: function (data) {
                        $('#reservasTableBody').html($(data).find('#reservasTableBody').html());
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            function filterReservas() {
                var restauranteId = $('#restauranteSelect').val();
                var fechaReserva = $('#fechaReservaSelect').val();

                $.ajax({
                    url: '@Url.Action("Index", "Reservas")',
                    type: 'GET',
                    data: { idRestaurante: restauranteId, fechaReserva: fechaReserva },
                    success: function (data) {
                        $('#reservasTableBody').html($(data).find('#reservasTableBody').html());
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }
            $('#restauranteSelect').change(filterReservas);
            $('#fechaReservaSelect').change(filterReservas);


            $('#limpiarFechaReserva').click(function () {
                $('#fechaReservaSelect').val('');
                filterReservas();
            });
            // Maneja el clic en el botón Confirmar Reserva
            $('#reservasTableBody').on('click', '.confirmar-reserva', function () {
                var reservaId = $(this).data('id');

                $.ajax({
                    url: '@Url.Action("ConfirmarReserva", "Reservas")',
                    type: 'POST',
                    data: { id: reservaId },
                    success: function (data) {
                        location.reload(); // Recargar la página para actualizar la lista de reservas
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
    <script src="~/js/site.js"></script>
}
<style>
    .form-group, .btn-group {
        padding: 15px;
    }
    .form-group{
        display:flex;
        margin-bottom:0;
    }
    .form-group button,
    .form-group label,
    .form-group input{
        margin:10px;
    }

</style>