@model IEnumerable<ObligatorioProgram3.Models.Ordene>

@{
    ViewData["Title"] = "Index";
}

<h1>Órdenes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Restaurante</th>
            <th>Id Orden</th>
            <th>Id Reserva</th>
            <th>Mesa</th>
            <th>Cliente</th>
            <th>Cuenta Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdreservaNavigation.IdmesaNavigation.IdrestauranteNavigation.Nombre</td>
                <td>@item.Id</td>
                <td>@item.Idreserva</td>
                <td>@item.IdreservaNavigation.IdmesaNavigation.NumeroMesa</td>
                <td>@item.IdreservaNavigation.IdclienteNavigation.Nombre @item.IdreservaNavigation.IdclienteNavigation.Apellido</td>
                <td>@item.Total?.ToString("C")</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-outline-secondary">Editar</a> |
                    <a asp-action="Detalle" asp-route-id="@item.Id" class="btn btn-light">Detalles</a> |
                    <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
