@model ObligatorioProgram3.ViewModels.OrdenDetailsViewModel

<h3>Orden para Mesa @Model.Mesa.NumeroMesa</h3>
<input type="hidden" id="mesaId" value="@Model.Mesa.Id" />

@if (Model.Orden != null)
{
    <input type="hidden" id="orderId" value="@Model.Orden.Id" />
    <ul>
        @foreach (var detalle in Model.Orden.OrdenDetalles)
        {
            <p>@detalle.IdmenuNavigation.NombrePlato - @detalle.Cantidad x @detalle.IdmenuNavigation.Precio</p>
        }
    </ul>
    <div class="card-footer">
        <p>Total: @Model.Orden.Total</p>
        <button class="btn btn-dark">Cobrar</button>
    </div>

}
else
{
    <p>No hay ninguna orden para esta mesa.</p>
}

