@model ObligatorioProgram3.ViewModels.OrdenDetailsViewModel
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<h3>Mesa @Model.Mesa.NumeroMesa</h3>
<input type="hidden" id="mesaId" value="@Model.Mesa.Id" />

@if (Model.Orden != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Plato</th>
                <th>Cantidad</th>
                <th>$</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <input type="hidden" id="orderId" value="@Model.Orden.Id" />
            @foreach (var detalle in Model.Orden.OrdenDetalles)
            {

                <tr>
                    <td>@detalle.IdmenuNavigation.NombrePlato</td>
                    <td> @detalle.Cantidad</td>
                    <td>@detalle.IdmenuNavigation.Precio</td>

                    <td>

                        <a asp-action="RemoveMenuItemFromOrder" asp-route-ordenId="@Model.Orden.Id" asp-route-menuItemId="@detalle.Idmenu">
                            <i class="fas fa-trash text-black "></i>
                        </a>
                      
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="card-footer">
        <p>Total: @Model.Orden.Total</p>
        <a asp-action="Index" asp-controller="Pagos" asp-route-id="@Model.Orden.Id" class="btn btn-dark">Cobrar</a>
    </div>
    
}
else
{
    <p>No hay ninguna orden para esta mesa.</p>


}


