@model IEnumerable<ObligatorioProgram3.Models.Usuario>
@{
    ViewData["Title"] = "Index";
}

<h2>Usuarios</h2>

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.Email</td>

                    <td>
                        <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@usuario.Id">Editar</a>
                        <a asp-action="Details" class="btn btn-light" asp-route-id="@usuario.Id">Detalle</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@usuario.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-dark" id="abrirModalUsuario">
        + nuevo usuario
    </button>
</div>

<div class="modal fade" id="crearUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="crearUsuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="crearModelUsuarioContent">
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#abrirModalUsuario').click(function () {
                $.ajax({
                    url: '@Url.Action("CreatePartial", "Usuarios")',
                    type: 'GET',
                    success: function (data) {
                        $('#crearModelUsuarioContent').html(data);
                        $('#crearUsuarioModal').modal('show');
                    }
                });
            });

            $('#crearModelUsuarioContent').on('submit', '#crearUsuarioForm', function (e) {
                e.preventDefault();

                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function (data) {
                        if ($(data).find('form').length) {
                            $('#crearModelUsuarioContent').html(data);
                        } else {
                            $('#crearUsuarioModal').modal('hide');
                            location.reload();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
}

