@model IEnumerable<ObligatorioProgram3.Models.Rol>

@{
    ViewData["Title"] = "Index";
}

<h2>Roles</h2>

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rol</th>
                <th>Permisos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rol in Model)
            {
                <tr>
                    <td>@rol.NombreRol </td>
                    <td>
                        @foreach (var rolPermiso in rol.RolPermisos)
                        {
                            <ul>@rolPermiso.Permiso.Nombre</ul>

                         
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-outline-secondary" asp-route-id="@rol.Id">Editar</a>
                        <a asp-action="Details" class="btn btn-light" asp-route-id="@rol.Id">Detalle</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@rol.Id">Eliminar</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <button type="button" class="btn btn-dark" id="abrirModalRol">
        + nuevo rol
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="crearRolModal" tabindex="-1" role="dialog" aria-labelledby="crearRolModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="crearRolModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#abrirModalRol').click(function () {
                $.ajax({
                    url: '@Url.Action("CreatePartial", "Roles")',
                    type: 'GET',
                    success: function (data) {
                        $('#crearRolModalContent').html(data);
                        $('#crearRolModal').modal('show');
                    }
                });
            });

            $('#crearRolModalContent').on('submit', '#crearRolForm', function (e) {
                e.preventDefault();

                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function (data) {
                        $('#crearRolModal').modal('hide');
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
}
