@model IEnumerable<ObligatorioProgram3.Models.Menu>

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ObligatorioProgram3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        body {
            font-family: Astrid;
            transition: background-color .5s;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            overflow-x: hidden;
        }

        .background-image {
            background-image: url('/imagenes/fondo.webp');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .title {
            font-size: 2.5rem;
            font-weight: bold;
            color: #7B7B7B;
        }

        .subtitle {
            color: #6c757d;
            font-size: 1.125rem;
        }

        .button-group {
            display: flex;
            justify-content: center;
            gap: 16px;
            margin-top: 16px;
        }

        .btn-custom {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            padding: 0 24px;
            font-size: 0.875rem;
            font-weight: medium;
            border-radius: 8px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .btn-primary-custom {
            background-color: #7B7B7B;
            color: white;
            border: none;
        }

            .btn-primary-custom:hover {
                background-color: #535353;
            }

        .btn-secondary-custom {
            background-color: white;
            color: #535353;
            border: 1px solid #ced4da;
        }

            .btn-secondary-custom:hover {
                background-color: #e9ecef;
                color: #535353;
            }

        .login-button {
            position: absolute;
            top: 16px;
            right: 16px;
        }

            .login-button a {
                background-color: #f2ce54;
                color: black;
                border: 1px solid;
                padding: 8px 16px;
                border-radius: 8px;
                text-decoration: none;
                transition: background-color 0.3s ease, color 0.3s ease;
            }

                .login-button a:hover {
                    background-color: black;
                    color: white;
                }

        .menuIcon {
            position: fixed;
            top: 16px;
            left: 16px;
            cursor: pointer;
            z-index: 2;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px;
        }

            .menuIcon div {
                width: 35px;
                height: 5px;
                margin: 6px 0;
                background-color: black;
                transition: 0.4s;
            }

        .change .bar1 {
            background-color: black;
            transform: translate(0, 11px) rotate(-45deg);
        }

        .change .bar2 {
            background-color: black;
            opacity: 0;
        }

        .change .bar3 {
            background-color: black;
            transform: translate(0, -11px) rotate(45deg);
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgba(242, 206, 84);
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 50px 32px;
                text-decoration: none;
                font-size: 30px;
                color: black;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: white;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
        }

        .container {
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            cursor: pointer;
            margin: 0 auto;
            display: inline-block;
        }

        .logo3 {
            border-radius: 5%;
            width: 300px; /* Ajusta el tamaño según sea necesario */
            height: auto;
            margin: 0 auto 20px; /* Centrado horizontal y margen inferior */
        }

        .category-bar {
            display: flex;
            justify-content: center;
            gap: 16px;
            margin: 20px 0;
        }

            .category-bar a {
                text-decoration: none;
                color: black;
                font-size: 1.2rem;
                padding: 8px 16px;
                border-radius: 8px;
                background-color: #f2ce54;
                transition: background-color 0.3s ease, color 0.3s ease;
            }

                .category-bar a:hover {
                    background-color: black;
                    color: white;
                }

        .menu-items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 16px;
        }

            .menu-items .card {
                width: 18rem;
                border: 1px solid #ccc;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                overflow: hidden;
            }

                .menu-items .card img {
                    width: 100%;
                    height: 12rem;
                    object-fit: cover;
                }

            .menu-items .card-body {
                padding: 16px;
            }

            .menu-items .card-title {
                font-size: 1.25rem;
                margin-bottom: 8px;
            }

            .menu-items .card-text {
                font-size: 1rem;
                margin-bottom: 8px;
            }

            .menu-items .card-price {
                font-size: 1rem;
                color: #535353;
            }

        .img-fluid {
            max-width: 100%;
            height: auto;
            box-shadow: -19px -20px 0px 5px rgba(242, 206, 84, 1);
        }

        .asymmetrical-row {
            display: flex;
            flex-wrap: wrap;
            margin: 50px 0;
        }

            .asymmetrical-row > div {
                flex: 1 1 50%; /* Two equal columns */
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .asymmetrical-row .text-content {
                padding: 20px;
                font-size: 1.5rem; /* Ajusta este valor según sea necesario */
                order: 1;
            }

            .asymmetrical-row .img-content {
                max-width: 100%; /* Set a maximum width for larger screens */
                order: 2;
            }

            .asymmetrical-row:nth-child(even) .text-content {
                order: 2;
            }

            .asymmetrical-row:nth-child(even) .img-content {
                order: 1;
            }

            .asymmetrical-row .img-content img {
                width: 80%;
                height: auto;
                border-radius: 10px;
            }

        .menu-items, .category-bar, #nosotros {
            padding-top: 50px; /* Ajusta este valor según la altura de tu sidebar */
        }

        .nosotros {
            background-image: url('/imagenes/fondoN');
        }

        h1 {
            padding: 30px;
        }

        .nosotros p {
            box-shadow: 0px 20px 0px 0px rgba(232,152,23,1);
        }



        #reseñas {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 16px;
            flex-direction: column;
            align-content: center;
        }

            #reseñas .card {
                width: 20rem;
                border: 1px solid #ccc;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                margin: 10px;
                box-shadow: 0px 20px 0px 0px rgba(232,152,23,1);
            }

            #reseñas .card-body {
                padding: 16px;
            }

            #reseñas .card-title {
                font-size: 1.25rem;
                margin-bottom: 8px;
            }

            #reseñas .card-text {
                font-size: 1rem;
                margin-bottom: 8px;
            }

            .row{
                margin:40px;
            }
            
            .form-group{
                margin:10px;
              
            }

    </style>
</head>
<body>
    <div class="menuIcon" onclick="toggleMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="#menu">Menú</a>
        <a href="#nosotros">Acerca de Nosotros</a>

        <a href="#reseñas">Reseñas</a>
    </div>

    <div id="main">
        <div class="background-image">
            <div class="login-button">
                <a href="@Url.Action("IniciarSesion", "Inicio")">Iniciar Sesión</a>
            </div>
            <img src="~/imagenes/logo3.png" alt="Logo del Restaurante" class="logo" />
        </div>

    </div>

    <div href="#menu" class="row">
        <!-- Categorías -->
        <div class="category-bar">
            @foreach (var categoria in ViewBag.Categorias)
            {
                <a href="#menu" class="category-link" data-category="@categoria">@categoria</a>
            }
        </div>

        <!-- Menú -->
        <div id="menu" class="menu-items">
            @foreach (var item in ViewBag.MenuItems)
            {
                <div class="card" data-category="@item.Categoria">
                    <img src="@item.RutaImagen" class="card-img-top" alt="@item.NombrePlato">
                    <div class="card-body">
                        <h5 class="card-title">@item.NombrePlato</h5>
                        <p class="card-text">@item.Descripcion</p>
                        <p class="card-price">@item.Precio</p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="nosotros" class="nosotros">
        <div class="asymmetrical-row">
            <div class="text-content">
                <img src="~/imagenes/sol.png" width="100px" />
                <h1>Sobre Nosotros</h1>
                <p style=" box-shadow: 0px 0px 0px 0px; !important">

                    En Al Mal Tiempo Buena Cara, creemos que la buena comida y un ambiente acogedor pueden
                    transformar cualquier día gris en una experiencia memorable.
                    Nuestro restaurante nació de la pasión por la cocina tradicional y el
                    deseo de crear un lugar donde cada visita se convierta en un festín para los sentidos.
                </p>
            </div>
        </div>

        <div class="asymmetrical-row">
            <div class="img-content">
                <img src="~/imagenes/imgRestaurante.webp" class="img-fluid" alt="Imagen del Restaurante" />
            </div>
            <div class="text-content">
                <img src="~/imagenes/sol.png" width="100px" />
                <h1>Nuestra Historia</h1>
                <p>
                    Fundado en 2006, Al Mal Tiempo Buena Cara ha sido el refugio perfecto para aquellos que buscan disfrutar de platos deliciosos, preparados con
                    ingredientes frescos y de la más alta calidad. Nuestra historia comenzó con una
                    simple idea: ofrecer un espacio donde la gastronomía y la hospitalidad se unan para brindar momentos inolvidables aunque el clima no acompañe.
                </p>
            </div>
        </div>

        <div class="asymmetrical-row">
            <div class="text-content">
                <img src="~/imagenes/sol.png" width="100px" />
                <h1>Nuestra Filosofía</h1>
                <p>
                    Nos enorgullece ofrecer una experiencia culinaria que va más allá de lo ordinario. Nuestro menú está diseñado para deleitar a todos los paladares,
                    combinando recetas tradicionales con un toque moderno y creativo.
                    Desde los platos más simples hasta las creaciones más elaboradas, cada bocado está hecho con amor y dedicación.
                </p>
            </div>
            <div class="img-content">
                <img src="~/imagenes/imgRestaurante2.jpg" class="img-fluid" alt="Imagen del Restaurante" />
            </div>
        </div>

        <div class="asymmetrical-row">
            <div class="img-content">
                <img src="~/imagenes/imgRestaurante3.jpg" class="img-fluid" alt="Imagen del Restaurante" />
            </div>
            <div class="text-content">
                <img src="~/imagenes/sol.png" width="100px" />
                <h1>El Equipo</h1>
                <p>
                    Nuestro equipo está compuesto por chefs talentosos y un personal comprometido que se esfuerza por hacer que cada visita sea especial.
                    La pasión por la gastronomía y la atención al detalle son los pilares sobre los que construimos nuestra reputación.
                </p>
            </div>
        </div>
    </div>



    <div id="reseñas">
        <h1>Reseñas</h1>

        <!-- Mostrar algunas reseñas existentes -->
        <div class="row">
           
            @foreach (var reseña in ((List<Reseña>)ViewBag.Reseñas).OrderByDescending(r => r.Id).Take(3))
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-text">Puntaje</h5>
                        <div class="rating">
                            @for (int i = 0; i < reseña.Puntaje; i++)
                            {
                                <img src="@(i < reseña.Puntaje ? "/imagenes/sol.png" :"/imagenes/sol.png")" alt="Estrella llena" style="width: 47px;"  />
                            }
                        </div>
                        <p class="card-text">@reseña.Comentario</p>
                    </div>
                </div>
            }
        </div>

        <!-- Formulario para enviar una nueva reseña -->
        <div class="row">
        <h3>Deja tu reseña</h3>
        <form asp-action="Create" asp-controller="Reseñas" method="post">
            <div class="form-group">
                <label for="Puntaje">Puntaje:</label>
                <input type="number" min="0" max="5" class="form-control" id="Puntaje" name="Puntaje" required>
            </div>
            <div class="form-group">
                <label for="Comentario">Comentario:</label>
                <textarea class="form-control" id="Comentario" name="Comentario" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-dark">enviar reseña</button>
            </form>
        </div>
    </div>



    <script>
        function toggleMenu(x) {
            x.classList.toggle("change");
            var menu = document.getElementById("mySidenav");
            if (menu.style.width === "250px") {
                menu.style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            } else {
                menu.style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }
        }

        document.querySelectorAll('.category-link').forEach(link => {
            link.addEventListener('click', function () {
                const category = this.getAttribute('data-category');
                document.querySelectorAll('.card').forEach(card => {
                    if (card.getAttribute('data-category') === category || category === 'All') {
                        card.style.display = 'block';
                    } else {
                        card.style.display = 'none';
                    }
                });
            });
        });
    </script>
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                const targetElement = document.querySelector(this.getAttribute('href'));
                const offset = 80; // Ajusta este valor según la altura de tu sidebar

                window.scrollTo({
                    top: targetElement.offsetTop - offset,
                    behavior: 'smooth'
                });
            });
        });
    </script>
</body>
</html>

