@model ObligatorioProgram3.Models.Mesa

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle de mesa</h1>

<div>
    <h4>Mesa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Numero de mesa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroMesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            Restaurante
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdrestauranteNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
